{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block navlink %}
<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        INÍCIO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'core:events' %}">
        <span data-feather="home"></span>
        EVENTOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'career:list_career' %}">
        <span data-feather="file"></span>
        CARGOS E CARREIRAS
      </a>
    </li>
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:team' %}">
          <span data-feather="file"></span>
          EQUIPE
        </a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        RELATÓRIOS
      </a>
    </li>
    {% comment %} <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CONFIGURAÇÃO
      </a>
    </li> {% endcomment %}
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        CONTROLE DE ACESSOS
      </a>
    </li>
    {%endif%}
  </ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
    <div class="col-md-9 ms-sm-auto col-lg-6 col-xl-12">
        <h1>Perfil de Usuário</h1>
        {% include 'partials/messages.html' %}
        <div class="text-center row flex-row justify-content-center">
            {% if user.is_authenticated %}
            <div class="card" style="width: 18rem;">
                <a href="{% url 'accounts:change_profile' %} ">
                    {% if profile_update.picture %}
                        <img src="{{ profile_update.picture.url }}" class="card-img-top" alt="profile_pic">
                    {% else %}
                        <img src="{% static '/img/profile_default.png' %}" class="card-img-top" alt="profile_pic">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ profile_update.user.get_full_name | default:profile_update.user.username }}
                    </h5>
                    <p class="card-text">
                        <i>@{{ profile_update.user.username | default:profile_update.user.username }}</i>
                    </p>
                    {% if profile_update.user == user%}
                      <a href="{% url 'accounts:change_password' %}" type="button" class="btn btn-primary"  style="margin:3px">Alterar Senha</a>
                    {%endif%}
                    {% if profile_update.user.user_profile %}
                        <a href="{% url 'accounts:update_profile' profile_update.user.username  %}" type="button" class="btn btn-secondary" style="margin:3px">Alterar Imagem</a>
                    {% else %}
                        <a href="{% url 'accounts:change_profile' %}" type="button" class="btn btn-secondary" style="margin:3px">Incluir Imagem</a>
                    {% endif %}
                </div>
            </div>
            {% if profile_type == 2 %}
              <div class="col-auto">
                  <form method="POST" action="{{profile_update.user.username}}">
                      {% csrf_token %}
                      <div class="form-group">
                      <label for="{{ form.profile.id_for_label }}" class="form-label">Tipo de Perfil:</label>
                      {{ form.profile |add_class:"form-control" }}
                      </div>
                      <div class="form-group">
                      <label for="{{ form.occupation.id_for_label }}" class="form-label">Cargo:</label>
                      {{  form.occupation|add_class:"form-control" }}
                      </div>
                      <button type="submit" class="btn btn-primary">Atualizar</button>
                  </form>
              </div>
            {%endif%}
        </div>
        
      {% endif %}
    </div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer %}