{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block navlink %}
<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        INÍCIO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{% url 'core:events' %}">
        <span data-feather="home"></span>
        EVENTOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'career:list_career' %}">
        <span data-feather="file"></span>
        CARGOS E CARREIRAS
      </a>
    </li>
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:team' %}">
          <span data-feather="file"></span>
          EQUIPE
        </a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        RELATÓRIOS
      </a>
    </li>
    {% comment %} <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CONFIGURAÇÃO
      </a>
    </li> {% endcomment %}
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        CONTROLE DE ACESSOS
      </a>
    </li>
    {%endif%}
  </ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
  <div class="row justify-content-center col-md-9 ms-sm-auto col-lg-10 col-xl-12">
      <div class="col-12 mb-5">
        <h1>Reunião 1:1</h1>
        </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
                <div class="row row-flex justify-content-center  p-3 pb-5">
                    <div class="col-6 row justify-content-start" >
                      <div class="col-12">
                        <label class="form-label">COLABORADOR</label>
                      </div>
                      {% if  meeting.follower %}
                      <div class="col-3">
                        <div class="profile-container-squared">
                          {% if  meeting.follower.picture %}
                            <img src="{{ meeting.follower.picture.url }}" alt="profile_pic">
                          {% else %}
                            <img src="{% static '/img/profile_default.png' %}" alt="profile_pic">
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-auto">
                        <span style="font-size:2em">{{  meeting.follower.user.first_name }} </span>
                        <br>{{  meeting.follower.user.last_name }}
                      </div>
                      {% else %}
                        {{  meeting.follower|add_class:"form-control" }}
                        {% if  meeting.follower != 0 %} 
                          {{  meeting.follower__occupation }}
                        {% endif %}
                      {%endif%}
                    </div>
                    <div class="col-6 row justify-content-start">
                      <div class="col-12">
                       <label class="form-label">LÍDER</label>
                      </div>
                      <div class="col-3">
                        <div class="profile-container-squared">
                          {% if  meeting.leader.picture %}
                            <img src="{{  meeting.leader.picture.url }}" alt="profile_pic">
                          {% else %}
                            <img src="{% static '/img/profile_default.png' %}" alt="profile_pic">
                          {% endif %}
                        </div>
                      </div>
                      <div class=" col-auto">
                        <span style="font-size:2em">{{  meeting.leader.user.first_name }} </span>
                        <br>{{  meeting.leader.user.last_name }}
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ leader.username.id_for_label }}" class="form-label">ASSUNTOS ABORDADOS</label>
                    {% if meeting.subject_one != None %}
                      <div class="row row-flex mb-2 justify-content-fill">
                          <div class="col-1">
                              <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                          </div>
                          <div for="{{ subject_one.id_for_label }}" class="col-11">
                              {{ meeting.subject_one }}
                          </div>
                      </div>
                    {% endif %}
                    {% if meeting.subject_two != None %}
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ subject_two.id_for_label }}"  class="col-11">
                            {{ meeting.subject_two }}
                        </div>
                    </div>
                    {% endif %}
                    {% if meeting.subject_three != None %}
                    <div class="row row-flex mb-2 justify-content-fill" >
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ subject_three.id_for_label }}"  class="col-11">
                            {{ meeting.subject_three }}
                        </div>
                    </div>
                    {% endif %}
                    {% if meeting.subject_four != None %}
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ subject_four.id_for_label }}"  class="col-11">
                            {{ meeting.subject_four }}
                        </div>
                    </div>
                    {% endif %}
                    {% if meeting.subject_five != None %}
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ subject_five.id_for_label }}"  class="col-11">
                            {{ meeting.subject_five }}
                        </div>
                    </div>
                    {% endif %}
                </div>
              <div class="row justify-content-between">
                <div class="col-4 row">
                    <div for="{{ date.id_for_label }}" class="date col-6" >
                    <label class="form-label">Próxima Data</label>
                        {{  meeting.next_meeting_date   }}
                    </div>
                    
                    <div for="{{ frequency.id_for_label }}"class="date col-6">
                    <label class="form-label">Período</label>
                        {{ meeting.get_meetings_frequency_display  }}
                    </div>
                </div> 
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer %}