{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block navlink %}
<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        INÍCIO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{% url 'core:home' %}">
        <span data-feather="home"></span>
        EVENTOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CARGOS E CARREIRAS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        EQUIPE
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        RELATÓRIOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CONFIGURAÇÃO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        CONTROLE DE ACESSOS
      </a>
    </li>
  </ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
  <div class="row justify-content-center col-md-9 ms-sm-auto col-lg-10 col-xl-12">
      <div class="col-12 mb-5">
        <h1>Registrar Reunião 1:1</h1>
        
      {% include 'partials/messages.html' %}
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="row row-flex justify-content-center  p-3 pb-5">
                    <div class="col-6 row justify-content-start" >
                      <div class="col-12">
                        <label for="{{ follower.username.id_for_label }}" class="form-label">COLABORADOR</label>
                      </div>
                      {% if follower %}
                      <div class="col-3">
                        <div class="profile-container-squared">
                          {% if follower.picture %}
                            <img src="{{ follower.picture.url }}" alt="profile_pic">
                          {% else %}
                            <img src="{% static '/img/profile_default.png' %}" alt="profile_pic">
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-auto">
                        <span style="font-size:2em">{{ follower.user.first_name }} </span>
                        <br>{{ follower.user.last_name }}
                      </div>
                      {% else %}
                        {{ form.follower|add_class:"form-control" }}
                        {% if form.follower != 0 %} 
                          {{ form.follower__occupation }}
                        {% endif %}
                      {%endif%}
                    </div>
                    <div class="col-6 row justify-content-start">
                      <div class="col-12">
                       <label for="{{ leader.username.id_for_label }}" class="form-label">LÍDER</label>
                      </div>
                      <div class="col-3">
                        <div class="profile-container-squared">
                          {% if user.user_profile.picture %}
                            <img src="{{ user.user_profile.picture.url }}" alt="profile_pic">
                          {% else %}
                            <img src="{% static '/img/profile_default.png' %}" alt="profile_pic">
                          {% endif %}
                        </div>
                      </div>
                      <div class=" col-auto">
                        <span style="font-size:2em">{{ user.first_name }} </span>
                        <br>{{ user.last_name }}
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ leader.username.id_for_label }}" class="form-label">ASSUNTOS ABORDADOS</label>
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ form.subject_one.id_for_label }}" class="col-11">
                            {{ form.subject_one | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ form.subject_two.id_for_label }}"  class="col-11">
                            {{ form.subject_two | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="row row-flex mb-2 justify-content-fill" >
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ form.subject_three.id_for_label }}"  class="col-11">
                            {{ form.subject_three | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ form.subject_four.id_for_label }}"  class="col-11">
                            {{ form.subject_four | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="row row-flex mb-2 justify-content-fill">
                        <div class="col-1">
                            <div class="form-label" style="background-color:#000000; border-radius:50%; width:10px; height:10px; margin:10px 0 0 20px"></div>
                        </div>
                        <div for="{{ form.subject_five.id_for_label }}"  class="col-11">
                            {{ form.subject_five | add_class:"form-control"}}
                        </div>
                    </div>
                </div>
              <div class="row justify-content-between">
                <div class="col-4 row">
                    <div for="{{ form.date.id_for_label }}" class="date col-6" >
                        {{ form.next_meeting_date | add_class:"form-control"  }}
                    </div>
                    <div for="{{ form.frequency.id_for_label }}"class="date col-6">
                        {{ form.meetings_frequency | add_class:"form-control" }}
                    </div>
                </div>
                <div class="row col-8 justify-content-end mr-1">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer %}