{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{%block head %}
  <link rel="stylesheet" href="{% static '/css/pdi.css' %}"/>
{%endblock head%}
{% block navlink %}
<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        INÍCIO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{% url 'core:home' %}">
        <span data-feather="home"></span>
        EVENTOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CARGOS E CARREIRAS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        EQUIPE
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        RELATÓRIOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CONFIGURAÇÃO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        CONTROLE DE ACESSOS
      </a>
    </li>
  </ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
  <div class="row justify-content-center col-md-9 ms-sm-auto col-lg-10 col-xl-12">
      <div class="col-12 mb-5">        
      {% include 'partials/messages.html' %}
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="{{follower.user.username}}">
                {% csrf_token %}
                <div class="row row-flex justify-content-center">     
                  <div class ="col-12" >
                    <h4>Plano de Desenvolvimento Individual</h4>
                    <p>{{ follower.user.first_name }} {{ follower.user.last_name }}</p>
                  </div>
                  <div class="col-2 align-center" >
                    <div class="row justify-content-center">
                      {% if follower.picture %}
                          <img src="{{  follower.picture.url }}" class="profile-container-squared" alt="profile_pic">
                      {% else %}
                          <img src="{% static '/img/profile_default.png' %}" class="profile-container-squared" alt="profile_pic">
                      {% endif %}
                    </div>
                  </div>
                  <div class="occupation col-4 align-items-center">
                    <div class="icon">
                    <i class="bi bi-award"></i>
                    </div>
                    <div class="description">
                      {{ follower.occupation }}
                    </div>
                  </div>
                  <div class="occupation col-4 align-items-center">
                    <div class="icon"><i class="bi bi-speedometer"></i>
                    </div>
                    <div class="description">
                      Nível {{ follower.occupation.tier }} 
                    </div>
                  </div>                                                   
                </div>
                <div class="form-group">
                  <label for="{{ leader.username.id_for_label }}" class="form-section-title">Objetivos</label>
                  <div class="row justify-content-between align-items-center m-1">
                    <div class="col-1">
                        <div class="icon">
                            <i class="bi bi-bullseye"></i>
                        </div>
                    </div>
                    <div class="col row">
                        <div class="col-6" >
                            {{ form.career_goal | add_class:"form-control"  }}
                        </div>
                        <div class="col-6">
                            {{ form.career_tier_goal | add_class:"form-control" }}
                        </div>
                    </div>
                  </div>
                  {% if form.career_goal != None %}
                  <label for="{{ leader.username.id_for_label }}" class="form-section-title">Habilidades do Cargo</label>
                  <div class="row justify-content-center align-items-center m-1">
                    <div class="col-1">
                        <div class="icon">
                            <i class="fas fa-route"></i>
                        </div>
                    </div>
                    {% for skill in skills %}
                    <div class="col row justify-content-center">
                      <div class="col skill" >
                        {{skill}}
                      </div>
                    </div>
                    {%endfor%}
                  </div>
                  {% endif %}
                  <label for="{{ leader.username.id_for_label }}" class="form-section-title">Interesses</label>
                  <div class="row justify-content-between  align-items-center m-1">
                    <div class="col-1 ">
                        <div class="icon">
                            <i class="far fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="col row">
                      <div class="col-6 mb-1">
                          <div  >
                              {{ form.interest_one | add_class:"form-control"  }}
                          </div>
                      </div>
                      <div class="col-6">
                          <div>
                              {{ form.interest_two | add_class:"form-control" }}
                          </div>
                      </div>
                      <div class="col-6">
                          <div  >
                              {{ form.interest_three | add_class:"form-control"  }}
                          </div>
                      </div>
                      <div class="col-6">
                        <div>
                            {{ form.interest_four | add_class:"form-control" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group inlineformset">
                  {{ plan_formset.management_form }}
                  {% for plan in plan_formset.forms %}
                    <label for="{{ leader.username.id_for_label }}" class="form-section-title">Plano</label>
                    {% comment %} {{plan_formset}} {% endcomment %}
                    <div class="row justify-content-between">
                      <div class="col-6">
                        <div class="col-xs ">
                            <label for="id_planformset-{{ forloop.counter0 }}-description">Descrição:</label> 
                        </div>  
                        <div  >
                            {% comment %} {{ plan.description | add_class:"form-control"  }} {% endcomment %}
                          <input name="planformset-{{ forloop.counter0 }}-description" id="id_planformset-{{ forloop.counter0 }}-description" placeholder="" class="form-control" >                                
                        </div>
                      </div>
                      <div class="col-6">
                          <div class="col-xs ">
                              <label for="id_planformset-{{ forloop.counter0 }}-plan_type">Tipo :</label> 
                          </div>  
                          {% comment %} {% render_field plan.plan_type type="radio" %} {% endcomment %}
                          {{plan.plan_type | add_class:"form-control" }}
                          {% comment %} <input name="plan_formset-{{ forloop.counter0 }}-plan_type" id="id_plan_formset-{{ forloop.counter0 }}-plan_type" placeholder="" class="form-control">                                 {% endcomment %}
                          {% comment %} {% for radio in plan_formset.plan_type %}
                          <div class="form-check-input">
                              {{ radio }}
                          </div>
                          {% endfor %} {% endcomment %}
                      </div>
                      
                      <div class="col-12 form-group">
                        <label class="form-label">Ações</label>
                        <div class="">
                          <div class="pl-3 pr-3 row justify-content-between">
                            <div class="col-8 " >  
                              <div class="">
                                  <label>Ação Planejada:</label> 
                              </div>
                            </div>                             
                            <div class="col-2"> 
                              <div class="">
                                  <label>Prazo:</label> 
                              </div> 
                            </div>
                            <div class="col-2"> 
                              <div class="">
                                  <label >Avaliação:</label> 
                              </div> 
                            </div> 
                          </div>
                        </div>
                        {% if plan.nested %}
                          {{ plan.nested.management_form }}
                          {{ plan.nested.non_form_errors }}

                          {% for action_form in plan.nested.forms %}
                          <div class=" form-group  internalinlineformset">
                            {% comment %} {{action_formset}} {% endcomment %}
                            <div class="pl-3 pr-3 row justify-content-between ">
                              <div class="col-8" >
                                {% comment %} <input name="actionplan-planformset-{{ forloop.counter0 }}-description" id="id_actionformset-{{ forloop.counter0 }}-description" placeholder="" class="form-control" > {% endcomment %}
                                  {{ action_form.description | add_class:"form-control"  }}
                              </div>                                                               
                              <div class="col-2"> 
                                <div class="date" >
                                  {% comment %} <input name="action_formset-{{ forloop.counter0 }}-due_date" id="id_action_formset-{{ forloop.counter0 }}-due_date" placeholder="" class="form-control" >                                                                       {% endcomment %}
                                    {{ action_form.due_date | add_class:"form-control"  }}
                                </div>
                              </div>
                              <div class="col-2"> 
                                <div  class="">
                                  {% comment %} <input name="action_formset-{{ forloop.counter0 }}-status" id="id_action_formset-{{ forloop.counter0 }}-status" placeholder="" class="form-control" > {% endcomment %}
                                    {{ action_form.status | add_class:"form-control"  }}
                                </div>
                              </div>
                            </div>
                            <div class="row justify-content-start">
                              <div class="col-6 add-action-class">
                              </div>
                              <div class="col-6 remove-action-class">
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    {% comment %} <div class="row justify-content-start">
                      <div class="col-6 add-plan-class">
                      </div>
                      <div class="col-6 remove-plan-class">
                      </div>
                    </div> {% endcomment %}
                  {%endfor%}
                </div>
              <div class="row justify-content-between">
                <div class="row col-8 justify-content-end mr-1">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
{% block footer %}
<script type="text/javascript">
    $(function() {
        $('.inlineformset').formset({
            prefix: 'planformset',
            addText: '+ Adicionar plano',          // Text for the add link
            deleteText: 'Remover plano',            // Text for the delete link
            addCssClass: 'btn btn-secondary col-2',          // CSS class applied to the add link
            deleteCssClass: 'btn btn-secondary',    // CSS class applied to the delete link
          //  addContainerClass: 'add-plan-class',         // Container CSS class for the add link
          //  deleteContainerClass: 'remove-plan-class',      // Container CSS class for the delete link
        });
      /*  $('.internalinlineformset').formset({
            prefix: 'actionplan-planformset',
            addText: '+',          // Text for the add link
            deleteText: '-',            // Text for the delete link
            addCssClass: 'btn btn-secondary',          // CSS class applied to the add link
            deleteCssClass: 'btn btn-secondary',    // CSS class applied to the delete link
           // addContainerClass: 'add-action-class',         // Container CSS class for the add link
           // deleteContainerClass: 'remove-action-class',      // Container CSS class for the delete link
        });*/
    })
</script>
{% endblock footer %}