@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.profile-container {
    border:0;
    border:solid;
    border-color:transparent;
    border-radius: 50%;
    overflow:hidden;
    padding: 0px;
    width: 100px;
    height: 100px;
    position: relative
}
.profile-container-lg {
    border:0 solid;
    border-color:transparent;
    border-radius: 25%;
    overflow:hidden;
    padding: 0px;
    width: 160px;
    height: 160px;
    position: relative
}
.profile-container img {
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
.profile-container-lg img {
    height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
.profile-container-squared {
    border:0px solid;
    border-color:transparent;
    border-radius: 10%;
    overflow:hidden;
    padding: 0px;
    width: 80px;
    height: 80px;
    position: relative;
}

.profile-container-squared img {
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}


.card-profile-container {
    border:0px solid;
    border-color:transparent;
    border-radius: 15%;
    overflow:hidden;
    margin: 2px;
    width: 50px;
    height: 50px;
    position: relative;
}
.card-profile-container img {
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}


.sidebar .nav-link {
    overflow:hidden;
    padding: 10px;
    color:#7D85DE;
    font-weight: 700;

}

.sidebar .nav-link:hover {
    width:100%;
    color:#7D85DE;
    background-color:#EEEEEE;
    background: linear-gradient(60deg, #f8f9fa  0%, #f8f9fa  10%, #E9AFB2 10.5% , #E9AFB2 20.5% , #f8f9fa  21%, #f8f9fa  100% );
    background: linear-gradient(60deg,#f8f9fa 0% , #f8f9fa 70.5% , #7D85DE 71%, #7D85DE 100% );
}

.sidebar .active {
    color: #FFFFFF;
    border:0;
    border-color:#FFFFFF;
    background: linear-gradient(60deg,#7D85DE 0% , #7D85DE 50.5% , #E9AFB2 51%, #E9AFB2 100% );
    overflow:visible;
    padding: 10px;
    width:100%;
}

a {
   color: #E9AFB2; 
   font-weight: 700;
}
a:hover {
   color: #E9AFB2; 
   font-weight: 900;
}

.rounded-square {
   height: 50px; 
   width: 50px; 
   border-radius: 10%;
   text-align: center;
   background-color: #E9AFB2;
   margin: 2px;
   color: #f8f9fa;
   font-weight: 900;
}

.rounded-square.secondary {
   background-color: #CBB1FB;
}

.rounded-square.highlight {
   background-color:#8F85FF;
}
.rounded-square.dark {
   background-color:#707070;
}


.rounded-square.small {
    height: 30px; 
    width: 30px; 
    border-radius: 10%;
    text-align: center;
    background-color: #7D85DE;
    margin: 2px;
    color: #f8f9fa;
    font-weight: 900;
 }
 

.right-bar{
   color: #707070;
}

.right-bar .title{
   color: #E9AFB2; 
   font-weight: 700;
   font-size: 1em;
   text-transform: uppercase;
}

.right-bar label {
    font-weight: 800;
    font-size: 1em;
    text-transform: capitalize;
    color: #E9AFB2; 
    margin: 0;
    line-height: 1;
}

.right-bar .career{
   margin-top: 3vh; 
   margin-bottom: 3vh;
   font-size: 0.8em;
   line-height: 0.9;
}
.career label {
    font-weight: 800;
    font-size: 1em;
    text-transform: capitalize;
    color: #E9AFB2; 
    margin: 0;
    line-height: 1;
}
.right-bar .events{
    color: #CBB1FB; 
}
.events .title{
    text-transform: uppercase;
    color: #CBB1FB; 
    font-weight: 800;
    font-size: 1em;
    
}
.title.secondary{
    text-transform: uppercase;
    color: #7D85DE; 
    font-weight: 800;
    font-size: 1em;
    
}
.events label {
    
    color: #CBB1FB; 
}

.events .rounded-square  {
    background-color:#CBB1FB;
 }

.events .rounded-square.highlight  {
background-color:#8F85FF;
}
.events .rounded-square.dark  {
    background-color:#707070;
}


h4 {
    color: #7D85DE;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

.form-section-title {
    color: #7D85DE;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 1vh;
}
.form-label {
    color: #7D85DE;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}
/* 
input[type="radio"] {
    color: #8F85FF;
    background-color: #E9AFB2;
} */