{% extends 'base.html' %}


{% block navlink %}
<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        INÍCIO
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'core:events' %}">
        <span data-feather="home"></span>
        EVENTOS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'career:list_career' %}">
        <span data-feather="file"></span>
        CARGOS E CARREIRAS
      </a>
    </li>
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:team' %}">
          <span data-feather="file"></span>
          EQUIPE
        </a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        RELATÓRIOS
      </a>
    </li>
    {% comment %} <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <span data-feather="file"></span>
        CONFIGURAÇÃO
      </a>
    </li> {% endcomment %}
    {% if user.user_profile.profile == 2 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        CONTROLE DE ACESSOS
      </a>
    </li>
    {%endif%}
  </ul>
</div>
{%endblock navlink%}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="col-auto">

        <h1>Relatório</h1>
        <div class="row  align-items-center justify-content-center ">
          <div class="col-12 mt-2">
                <h4 class="card-title">Geral</h4>
          </div>               
          <div class="col-12">
            <div class="row row-flex justify-content-center ">
              <div class="col-auto   m-2 p-2">
                <div class="card" >
                  <div class="card-body">
                      <h5 class="card-title">
                          Reuniões de PDI
                      </h5>
                      <p class="card-text">
                        <h1><i class="fas fa-handshake"></i>  {{pdi_meetings_qty}} </h1>
                      </p>
                  </div>
                </div>              
              </div> 
              <div class="col-auto   m-2 p-2">
                <div class="card" >
                  <div class="card-body">
                      <h5 class="card-title">
                          Reuniões de 1:1
                      </h5>
                      <p class="card-text">
                        <h1><i class="fas fa-comments"></i>  {{one_on_ones_qty}} </h1>
                      </p>
                  </div>
                </div>              
              </div> 
              <div class="col-auto   m-2 p-2">
                <div class="card" >
                  <div class="card-body">
                      <h5 class="card-title">
                          Colaboradores
                      </h5>
                      <p class="card-text">
                        <h1><i class="fas fa-users"></i>  {{followers_qty}} </h1>
                      </p>
                  </div>
                </div>              
              </div> 
              <div class="col-auto   m-2 p-2">
                <div class="card" >
                  <div class="card-body">
                      <h5 class="card-title">
                          Planos
                      </h5>
                      <p class="card-text">
                        <h1><i class="fas fa-route"></i>  {{plans_qty}} </h1>
                      </p>
                  </div>
                </div>              
              </div> 
              <div class="col-auto   m-2 p-2">
                <div class="card" >
                  <div class="card-body">
                      <h5 class="card-title">
                          Ações Propostas 
                      </h5>
                      <p class="card-text">
                        <h1><i class="fas fa-list-ol"></i>  {{actionplans_qty}} </h1>
                      </p>
                  </div>
                </div>              
              </div> 
            </div>
          </div> 
          <div class="col-auto col-lg-5  m-2 p-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Distribuição de Cargos</h5>
                <canvas id="occupation_pie_chart"></canvas>
              </div>
            </div>
          </div> 
              
          <div class="col-auto col-lg-5 m-2 p-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Distribuição de status de planos de ação</h5>
                <canvas id="status_bar_chart" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
                <h4 class="card-title">Detalhamento Por Colaborador</h4>
          </div>  
         
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5   m-2 p-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quantidade de Reuniões</h5>
                <canvas id="pdi_meetings_bar_chart" ></canvas>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5   m-2 p-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Percentual de conclusão dos Planos de Ação</h5>
                <canvas id="pdi_completed_bar_chart" ></canvas>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-9  m-2 p-2">
          </div>
          
        </div>
    </div>
</div>
{% endblock main %}



{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var occupation_config_pie = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ occupation_pie_chart_data.data|safe }},
              backgroundColor: [
                '#FFF07C', '#80FF72', '#7EE8FA', '#EEC0C6', '#E58C8A'
              ],
              label: 'Qtd de Projetos'
            }],
            labels: {{ occupation_pie_chart_data.labels|safe }}
          },
          options: {
            responsive: true
          }
        };
        
        var pdi_meetings_config_bar = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ pdi_meetings_bar_chart_data.data|safe }},
              backgroundColor:  '#7EE8FA' ,
              label: 'Qtd de Reuniões'
            }],
            labels: {{ pdi_meetings_bar_chart_data.labels|safe }}
          },
          options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
          }
        };
        
        var pdi_completed_config_bar = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ pdi_completed_bar_chart_data.data|safe }},
              backgroundColor:  '#7EE8FA' ,
              label: '% de ações completas'
            }],
            labels: {{ pdi_completed_bar_chart_data.labels|safe }}
          },
          options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 1
                    }
                }]
            }
          }
        };
        
        var status_config_bar = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ status_bar_chart_data.data|safe }},
              backgroundColor: '#7EE8FA',
              label: 'Reuniões PDI'
            }],
            labels: {{ status_bar_chart_data.labels|safe }}
          },
          options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
          }
        };

        window.onload = function() {
          var ctx = document.getElementById('occupation_pie_chart').getContext('2d');
          window.myPie = new Chart(ctx, occupation_config_pie);
          var ctx = document.getElementById('pdi_meetings_bar_chart').getContext('2d');
          window.myBar = new Chart(ctx, pdi_meetings_config_bar);
          var ctx = document.getElementById('pdi_completed_bar_chart').getContext('2d');
          window.myBar = new Chart(ctx, pdi_completed_config_bar);
          var ctx = document.getElementById('status_bar_chart').getContext('2d');
          window.myBar = new Chart(ctx, status_config_bar);
          
        };
    </script>
{% endblock footer %}